<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
</head>
<body>
<form action="/property_app/search_by_address/" method="post">
    {% csrf_token %}
    Employee Login:
    <br>
    Email :
    <input type="email" name="email">
    Password
    <input type="password" name="pass">
    <input type="submit" value="Sign In">
    <br>
    <br>
    <br>
    Admin Login:
    <br>
    Email :
    <input type="email" name="email2">
    Password
    <input type="password" name="pass2">
    <button type="submit" formaction="/property_app/adminPage/">Submit to another page</button>
</form>
</body>
</html>